<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChewChewTrain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ChewChewTrainTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2A5F1FF1F4A9144005CD714</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D358B3D621DD763D00003DB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D38F4015228B636F000CE866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3E4BFFB228B6E54009620CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
